@import './variables/colors/colors.scss';
@import './pages/login.scss';
@import './pages/cadastro.scss';
@import './variables/commons/commons.scss';
@import './pages/redefinirSenha.scss';
@import './pages/verificarEmail.scss';
@import './pages/perguntas.scss';
@import './pages/guruBook.scss';
@import './pages/sapiens.scss';
@import './pages/autor.scss';
@import './pages/editora.scss';