* {
    margin: 0px;
    padding: 0px;
}

.bodyYellow {
    background-color: $primaryColor;
}

.container {
    width: 450px;
    height: auto;
}

.footer {
    margin-top: 51px;
    margin-bottom: 5px;
}

.header {
    background-color: $primaryColor;
    font-size: 18px;
    .logoGB{
        width: 70px;
    }
}

.bold{
    font-weight: bold;
}